<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
        <h1>Registro de clientes</h1>
        <p th:if="${error}" th:text="${error}"></p>
        <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">
            <input type="hidden" th:field="*{idCliente}">
            <label>NIT</label>
            <input type="text" th:field="*{nit}">
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}">
            <label>Apellidos</label>
            <input type="text" th:field="*{apellidos}">
            <label>Email</label>
            <input type="text" th:field="*{email}">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>NIT</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
            <tr th:each="c : ${clientes}">
                <td th:text="${c.idCliente}"></td>
                <td th:text="${c.nit}"></td>
                <td th:text="${c.nombre}"></td>
                <td th:text="${c.apellidos}"></td>
                <td th:text="${c.email}"></td>
                <td>
                    <a th:href="@{/clientes/editar/{id}(id=${c.idCliente})}" class="btn btn-secondary">Editar</a>
                    <form th:action="@{/clientes/eliminar/{id}(id=${c.idCliente})}" method="post">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        
                    </form>
                </td>
            </tr>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>