<!DOCTYPE html>
<html>
    <head>
        <title>Registro de Puestos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
        <h1>Registro de puestos</h1>
        <p th:if="${error}" th:text="${error}"></p>
        <form th:action="@{/puestos/guardar}" th:object="${puesto}" method="post">
            <input type="hidden" th:field="*{idPuesto}">
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}">
            <label>Salario Base</label>
            <input type="text" th:field="*{salarioBase}">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Salario Base</th>
                <th>Acciones</th>
            </tr>
            <tr th:each="p : ${puestos}">
                <td th:text="${p.idPuesto}"></td>
                <td th:text="${p.nombre}"></td>
                <td th:text="${p.salarioBase}"></td>
                <td>
                    <a th:href="@{/puestos/editar/{id}(id=${p.idPuesto})}" class="btn btn-secondary">Editar</a>
                    <form th:action="@{/puestos/eliminar/{id}(id=${p.idPuesto})}" method="post">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
        </table>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>